*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

span{
    color: #ff0157;
    font-size: 3rem;
}

h2{
    border-bottom: 2px solid #ff0157;
    display: inline;
    padding: .5rem;
}

/*********************************************NOTRE HEADER*********************************************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0 .5rem;
    transition: .5s ease;
}

header .logo img{ 
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: .5rem;
}

header .navbar ul{
    display: flex;
    place-items: center;
}

header .navbar li{
    list-style: none;
    padding: 1rem;
}

header .navbar a{
    text-decoration: none;
    padding: .3rem;
    color: black;
}

header .navbar a:hover{
    border-bottom: 3px solid #ff0157;
    transition: .3s;
}


header.sticky{
    background-color: #efefef;
    box-shadow:blue;
}

/*MENU TOGGLE*/
.menuToggle{
    position: absolute;
    right: 0;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){

    .navbar ul{
        position: fixed;
        top: 5rem;
        left: 0;
        background-color: #efefef;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        padding: 0;
        transform: translateX(120%);
        transition: 1s;
    }

    .navbar ul.active{
        transform: translateX(0);
    }
    
    .menuToggle{
        display: flex;
    }
}

/*********************************************NOTRE BANNER*********************************************/
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    place-items: center;
    background: url(/img/banner.png);
    background-size: cover;
    background-position: center;
}

.banner .content{
    text-align: center;
}

.banner .content h1{
    color:#fff;
    font-size: 2rem;
}

.banner p{
    font-size: 1rem;
    margin: 1.5rem;
    color: #fff;
}

.banner .btn{
    text-decoration: none;
    background-color: #ff0157;
    padding:10px 10px;
    color: #fff;
}

/*RESPONSIVITE BANNER*/

@media screen and (max-width: 480px){
    .banner .content h1{
        color:#fff;
        font-size: 1rem;
    }
}


/*********************************************NOTRE ABOUT*********************************************/
.about{
    padding: 1rem;
    background-color: #efefef;

}

.aboutTitle{
    text-align: center;
    margin-bottom: 2rem;
}

.aboutContent{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}
.aboutContent .col1{
    margin: auto;
    text-align: justify;
}
.aboutContent .col .imgBox{
    position: relative;
    height: 300px;
}

.aboutContent .col img{
   position: absolute;
   width: 100%;
   height: 100%;
}

/*RESPONSIVITE ABOUT*/
@media screen and (max-width: 768px){
    .aboutContent{
      grid-template-columns: 1fr;
    }

    .aboutContent .col{
        text-align: justify;
    }
   
}


/*********************************************NOS SERVICES*********************************************/

.serviceContent{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.serviceTitle{
    text-align: center;
    margin: 1rem;
}

.serviceContent .box{
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: justify;
    border: .5px solid #ff0157;
    border-radius: 5%;
    margin: .7rem;
}


.serviceContent .imageBox{
    position: relative;
    height: 200px;
}

.serviceContent .imageBox img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%
}

.serviceContent .textBox{
    padding: 1rem;
    text-align: center;
    font-size: .7rem;
}

@media screen and (max-width: 768px){
    .serviceContent .box{
        display: flex;
        flex-direction: column;
        width: 120px;
        text-align: justify;
        border: .5px solid #ff0157;
        border-radius: 5%;
        margin: .7rem;
    }

    .serviceContent .imageBox{
        position: relative;
        height: 100px;
    }
}

/********************************************EXPERTS************************************************/

.pro{
    margin-bottom: 1rem;
    padding: 1rem;
}
.pro .proTitle{
    padding: 1rem;
    text-align: center;
}

.proContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 10px solid #efefef;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 1rem;
}

.proContent .cardImg{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proContent .cardImg img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.proContent .card .cardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: .5rem;
    background-color: #ff0157;
    transition: 1s;
}

.proContent .card .cardContent .infos{
    display: none;
    transition: 1s;
}

.proContent .card .cardContent .contact{  
    margin: 1rem;
}

.proContent .card .cardContent button{
    border-radius: 20px;
    padding: .5rem;
    background-color: white;
}


.proContent .card .cardContent:hover .infos{
    display: flex;
    transition: 1s;
}


.proContent .card ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    border-radius: 20px;
}

.proContent .card ul li{
    padding: .5rem;
}

.proContent .card ul li i{
    font-size: 1.5rem;
    color: white;
}
/********************************************FOOTER************************************************/
footer{
    position: relative;
    background-color: #efefef;
    text-align: center;
    padding: 1rem;
}

footer .contactTitle{
    text-align: center;
    margin: 1rem 0;
}

.footerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}


